<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-stable">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

    <!-- menu header -->
    <ion-header-bar class="bar-stable">
      <h1 class="title" ng-bind="menu.data.title"></h1>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content>
      <ion-list>
		<ion-item menu-close ui-sref="main.init" >
			<label ng-bind="menu.opcoes.init"></label>
        </ion-item>
		<ion-item menu-close>
			<!-- New Task button-->
			<button class="button button-icon" ng-click="menu.openDataModal()">
				<i class="icon ion-compose"></i>
			</button>
		</ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
	<script id="error-list.html" type="text/ng-template">  
		<div class="error" ng-message="required">
			<i class="ion-information-circled"></i> 
			Obrigatório
		</div>
		<div class="error" ng-message="minlength">
			<i class="ion-information-circled"></i> 
			Muito curto
		</div>
		<div class="error" ng-message="maxlength">
			<i class="ion-information-circled"></i> 
			Muito longo
		</div>
		<div class="error" ng-message="cpf">
			<i class="ion-information-circled"></i> 
			CPF inválido
		</div>
		<div class="error" ng-message="email">
			<i class="ion-information-circled"></i> 
			Email inválido
		</div>
	</script>   